.container3{
    /* display: none; */
    position: fixed;
    background-image: url(Images/header.jpg);
    background-repeat: no-repeat;
    background-size:210%;
    background-position-x: center;
    background-position-y: center;
    width: 80vw;
    height: 90vh;
    left: 10%;
    top: 5%;
    padding: 40px 50px;
    border-radius: 35px;
    box-shadow: 2px 2px 5px 5px rgba(0,0,0,0.15);
}
.container3 .close-btn {
    position: absolute;
    top: 10px;
    right: 25px;
    width: 20px;
    height: 20px;
    background: rgb(238, 140, 48) ;
    color: rgb(54, 53, 53);
    border-radius: 3px;
    cursor: pointer;

}